#alarm-new-add-step-one {
  section {
    margin-bottom: 22px;
    .title-line {
      label {
        line-height: 32px;
      }
      height: 32px;
      margin: 4px 0;
      font-size: 14px;
      color: #606266;
    }
  }
  .cell {
    display: flex;
  }
}
