.operator-hub-subscribe {
  .d-pane__body {
    padding: 0 15px;
  }

  .co-required:after {
    color: $red;
    content: '*';
    padding-left: 3px;
  }

  .el-radio {
    display: block;
    margin-right: 0;

    & + .el-radio {
      margin-top: 10px;
    }
  }

  .col-lg-6 {
    margin-top: 15px;
  }

  .dao-setting-title {
    color: rgb(21, 21, 21);
  }

  .dao-setting-content > :first-child:not(.dao-btn) {
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .dao-setting-content > :not(:first-child):not(.dao-btn) {
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: -5px;
  }

  .d-clusterserviceversion-logo {
    display: flex;

    &__icon {
      align-items: center;
      background: rgb(241, 243, 246);
      display: flex;
      flex: 0 0 auto;
      height: 60px;
      justify-content: center;
      width: 60px;

      img {
        max-height: 40px;
        max-width: 40px;
      }
    }

    &__name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 10px;

      &__clusterserviceversion {
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 5px;
      }

      &__provider {
        font-size: 13px;
        color: $grey-dark;
      }
    }
  }

  .panel-default {
    color: #3d444f;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(204, 209, 217, 0.3);
    background-color: #fff;
    line-height: 1;
  }

  .panel-header {
    padding: 25px 20px;
    background-color: #f5f7fa;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #e4e7ed;
    box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.6);
    font-size: 18px;
    font-weight: 400;
  }

  .panel-content {
    padding: 20px;
  }

  .d-crd-card-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .d-card {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border-radius: 2px;
    position: relative;
    transition: all 0.3s;
    border: 1px solid #e8e8e8;

    &__head {
      background: transparent;
      border-bottom: 1px solid #e8e8e8;
      padding: 0 24px;
      border-radius: 2px 2px 0 0;
      zoom: 1;
      margin-bottom: -1px;
      min-height: 48px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
    }

    &__body {
      padding: 24px;
      zoom: 1;
    }
  }
}
