@import '~daoColor';
@import './wizard-footer';
@import './wizard-header';

.daox-wizard {
  $cursor-disabled: not-allowed !default;
  $nav-link-padding: 10px 15px !default;

  .wizard-navigation {
    .wizard-nav {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 42px;
      background: white;
      border-bottom: 1px solid #e4e7ed;
      box-sizing: content-box;

      .wizard-nav-pills {
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        border-bottom: 1px solid #e4e7ed;
      }

      .wizard-nav-left,
      .wizard-nav-right {
        display: flex;
        flex: 1;
      }
    }

    .step-content {
      display: flex;
      align-items: center;
      background-color: #fff;

      .step-tab {
        $tab-width: 20px;
        position: relative;
        color: #9ba3af;
        vertical-align: middle;

        .step-icon {
          display: inline-block;
          box-sizing: content-box;
          width: $tab-width;
          height: $tab-width;
          margin-right: 5px;
          line-height: $tab-width;
          text-align: center;
          border: 1px solid #9ba3af;
          border-radius: 50%;
        }

        .step-title {
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          line-height: $tab-width;
        }
      }

      &.checked {
        .step-icon {
          color: #fff;
          background-color: $blue;
          border: 1px solid $blue;
        }

        .step-title {
          color: #3d444f;
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      &::after {
        content: ' ';
        display: inline-block;
        width: 48px;
        margin: 0 10px;
        vertical-align: middle;
        border-bottom: 1px solid #ccd1d9;
      }
    }

    .wizard-tab-content {
      min-height: 100px;
      padding: 70px 20px 100px;
    }

    .wizard-card-footer {
      padding: 0 20px;

      .wizard-footer-left {
        float: left;
      }

      .wizard-footer-right {
        float: right;
      }
    }
  }

  .wizard-card-footer {
    .wizard-footer-left {
      float: left;
    }

    .wizard-footer-right {
      float: right;
    }
  }
}
