.daox-wizard {
  .wizard-navigation {
    
    .header-title {
      margin-left: 30px;
      font-size: 16px;

      .go-back {
        color: #000000;
      }

      .service-name {
        vertical-align: middle;
        position: relative;
        padding-left: 15px;
        border-left: 1px solid #ccd1d9;
        margin-left: 15px;
      }
    }
  }
}