# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
note/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.vscode
.env
.idea
.DS_Store
dist
# lib
yarn.lock
package-lock.json
webstorm.config.js

# local env files
.env.local
.env.*.local
