@import '~daoColor';

.page-catalog {
  height: calc(100vh - 160px);

  .empty-state-message {
    margin-top: 140px;
    text-align: center;

    img {
      width: 100px;
      margin-bottom: 30px;
      vertical-align: top;
    }

    .hint-title {
      color: #595f69;
      font-size: 20px;
    }

    .hint-desc {
      max-width: 300px;
      margin: 8px auto 15px;
      color: #9ba3af;
      line-height: 24px;
    }
  }
}

.panel-manage {
  .panel-manage-header {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f3f6;

    &.active {
      box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    }
  }

  .panel-wrapper {
    overflow: auto;
  }

  .panel-manage-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 10px;
    margin: 0 auto;
  }

  .card-broker {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 250px;
    height: 116px;
    padding: 15px;
    margin: 10px;
    line-height: 18px;
    background: #fff;
    border-radius: 4px;
    transition: 0.2s;

    &:hover {
      z-index: 1;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      transform: translateY(-5px);
      cursor: pointer;

      .icon-more {
        display: block;
      }
    }

    .card-broker-title {
      color: #3d444f;
      font-size: 16px;

      .title-desc {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          overflow: hidden;
          max-width: 190px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .icon-more {
      display: none;
      color: rgba(155, 163, 175, 1);

      &:hover {
        cursor: pointer;
      }
    }

    .service-amount {
      margin-top: 6px;
      color: #888d94;
      font-size: 12px;
    }

    time {
      color: #888d94;
      font-size: 12px;
    }
  }
}

.panel-manage-body {
  @media (max-width: 1070px) {
    width: 560px;
  }

  @media (min-width: 1070px) and (max-width: 1340px) {
    width: 830px;
  }

  @media (min-width: 1340px) and (max-width: 1610px) {
    width: 1100px;
  }

  @media (min-width: 1610px) and (max-width: 1880px) {
    width: 1370px;
  }

  @media (min-width: 1880px) and (max-width: 2150px) {
    width: 1640px;
  }

  @media (min-width: 2150px) {
    width: 1910px;
  }
}
