#zone {
  background: #F1F3F6;
  .header {
    background: #D5DBE3;
    padding-left: 10px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-family: SFProText-Regular,SFProText;
    font-weight: 400;
    color: #595F69;
  }
  .search {
    padding: 20px 0 20px 20px;
  }
  .fresh {
    float: right;
    padding: 20px 20px 20px 0;
  }
  .table {
    margin: 0 20px 20px;
  }
  .footer {
    height: 40px;
    border-right: 1px solid #E4E7ED;
    border-left: 1px solid #E4E7ED;
    border-bottom: 1px solid #E4E7ED;
    background: #fff;
    .el-pagination {
      padding: 4px 0px;
    }
  }
}
