.operator-hub {
  padding: 15px 20px 20px 20px;

  .page__nav-title {
  }

  .page__heading {
    display: flex;
    font-size: 22px;
    justify-content: space-between;
    margin: 0 0 20px;
    color: $black-dark;
  }

  .page__description {
    color: $black-dark;
  }

  .d-catalog-page {
    background: #fff;
    box-shadow: 0 1px 4px rgba(204, 209, 216, 0.35);
    display: flex;
    flex: 1;
    margin-top: 20px;
    padding: 15px 0 0;

    &__tabs {
      flex: 0 0 220px;
      margin: 0 15px 0 0;
    }

    &__header {
      margin: 0 15px 30px 0;
      border-bottom: 1px solid $grey-light;
    }

    &__content {
      flex: 1 1 auto;
    }

    &__heading {
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 15px;
    }

    &__filter {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &__num-items {
      font-weight: 700;
      padding-right: 15px;
    }
  }

  .catalog-tile-view {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog-item-header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 18px;
  border-bottom: 1px solid $white-dark;
  height: 70px;
  background: $white-light;

  .catalog-item-left-header {
    display: flex;
    height: 100%;
  }

  img {
    max-height: 100%;
  }

  .close {
    font-size: 20px;
  }

  .catalog-item-header-text {
    white-space: nowrap;
    margin-left: 20px;
    line-height: 1.1;
  }

  .catalog-item-header-title {
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 24px;
  }
  .catalog-item-header-subtitle {
    font-weight: 500;
    font-size: 13px;
    color: $font-light;
    margin-bottom: 0;
    margin-top: 5px;
  }
}
