#service {
  font-family: SFProText-Regular,SFProText;
  .header {
    background: #D5DBE3;
    padding-left: 10px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-family: SFProText-Regular,SFProText;
    font-weight: 400;
    color: #595F69;
  }
  .box {
    padding: 20px 20px 0 20px;
    .title {
      font-size: 14px;
      font-family: PingFangSC-Regular,PingFang SC;
      font-weight: 400;
      color: #3D444F;
    }
    .input1 {
      width: 160px;
      height: 32px;
      margin-right: 10px;
    }
  }
  .select {
    padding: 15px 0 0 20px;
    .number {
      font-size: 14px;
      font-family: PingFangSC-Regular,PingFang SC;
      font-weight: 400;
      color: #3D444F;
    }
  }
  .str {
    &::after{
      content: '、';
    }
    &:last-child::after{
      content: '';
    }
  }
  .footer {
    height: 40px;
    border-right: 1px solid #E4E7ED;
    border-left: 1px solid #E4E7ED;
    border-bottom: 1px solid #E4E7ED;
    background: #fff;
    .page {
      float: left;
      height: 14px;
      line-height: 14px;
      padding: 10px 0 0 10px;
      font-size: 14px;
      font-family: PingFangSC-Regular,PingFang SC;
      font-weight: 400;
      color: #9BA3AF;
    }
  }
}
