.login-layout {
  height: 100%;
  padding-top: 150px;
  .bg-img {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url('/assets/images/login-bg.jpg') no-repeat center;
    background-size: cover;
  }
  .section-logo {
    height: 80px;
    text-align: center;
    margin-bottom: 10px;
  }
  .shake {
    animation: panelShakeAnimation 0.4s ease-in-out;
  }
  @keyframes panelShakeAnimation {
    12.5% {
      transform: translateX(-6px) rotateY(-5deg);
    }
    37.5% {
      transform: translateX(5px) rotateY(4deg);
    }
    62.5% {
      transform: translateX(-3px) rotateY(-2deg);
    }
    87.5% {
      transform: translateX(2px) rotateY(1deg);
    }
    100% {
      transform: translateX(0);
    }
  }
  .login-container {
    position: relative;
    width: 310px;
    padding: 27px 20px 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 1, 0.1);
    border-radius: 4px;
    p.error-alert {
      margin: 0 auto 15px;
      color: #f1483f;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
    }
    .title {
      padding: 0 20px;
      margin: 0;
      color: #595f69;
      font-size: 17px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
    }
    .header-line {
      width: 120px;
      height: 1px;
      margin: 6px auto 14px;
      background: linear-gradient(
        90deg,
        #fff 0,
        #e4e7ed 30px,
        #e4e7ed calc(100% - 30px),
        #fff 100%
      );
      border: none;
    }
    .signin-btn {
      width: 100%;
      padding: 8px 18px;
      margin-left: 0;
    }
    .form-group {
      margin-bottom: 24px;
      label {
        display: block;
        margin-bottom: 5px;
        color: #9ba3af;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        cursor: default;
      }
      .dao-input-container {
        width: 100%;
      }
      //input {
      //  color: #3d444f;
      //  line-height: 1;
      //  background-color: #fff;
      //  box-shadow: none;
      //  border: 1px solid #ccd1d9;
      //  border-radius: 2px;
      //  outline: 0;
      //  transition: border 0.25s ease;
      //}
    }
  }
  .login-btn {
    width: 100%;
  }
  .sso-btn {
    width: 100%;
    padding: 8px 18px;
    margin: 10px 0;
  }
  .gap {
    position: relative;
    width: 100%;
    margin: 24px 0 8px;
    color: #9ba3af;
    font-size: 12px;
    text-align: center;
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0.7em;
      width: 25%;
      height: 1px;
      background-color: #eee;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}
