@media screen and (min-width: 1440px) {
  #servicedetail1{
    .lay-left{
      width: 960px;
    }
    .content_box{
      width: 1280px;
    }
  }
}

@media screen and (max-width: 1440px) {
  #servicedetail1{
    .lay-left{
      width:740px;
    }
    .content_box{
      width: 1060px;
    }
  }
}
::v-deep .el-tabs__header {
  margin: 0;
  padding: 0;
  position: relative;
}
::v-deep .el_tabs .el-tab-pane{
  margin: 0 0 20px 20px;
}
#servicedetail1 {
  background: #fff;
  .detail-header {
    padding-left: 10px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-family: SFProText-Regular,SFProText;
    font-weight: 400;
    color: #595F69;
    border-bottom: 1px solid #D5DBE3;
  }
  .el-tabs__header {
    margin: 0 0 20px;
  }
  .detail-title {
    position: relative;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid rgb(228,231,237);
    .icon-size {
      width: 54px;
      height: 54px;
      margin: 16px;
      border-radius: 4px;
    }
    .title-name {
      position: absolute;
      left: 84px;
      top: 14px;
      float: left;
      font-size: 18px;
      margin-bottom: 20px;
      font-weight:500;
      color: #3D444F;
    }
    .title-desc {
      position: absolute;
      left: 84px;
      bottom: 20px;
      height: 12px;
      line-height: 12px;
      font-size: 14px;
      font-weight: 400;
      color: #9BA3AF;
      .title-desc-name {
        display: inline-block;
        font-weight: 400;
        color: #3D444F;
        .success {
          margin: 0px 5px 2px;
          display: inline-block;
          background: #25D473;
          border: 1px solid #22C36A;
          border-radius: 50%;
          width: 6px;
          height: 6px;
        }
        .error {
          margin: 0px 5px 2px;
          display: inline-block;
          background: #F25A52;
          border: 1px solid #F1483F;
          border-radius: 50%;
          width: 6px;
          height: 6px;
        }
      }
      .title1 {
        margin-left: 10px;
        display: inline-block;
        font-weight: 400;
        color: #9BA3AF;
      }
    }
    .more {
      width: 98px;
      float: right;
      margin: 25px 20px 0 0 ;
    }
  }


  .lay-left {
    float: left;
    margin-left: 20px;
    overflow: hidden;
    .border-box {
      border: 1px solid #E4E7ED;
      box-shadow:0px 0px 0px 1px rgba(228,231,237,1);
      border-radius: 4px;
      .title {
        border-bottom: 1px solid #E4E7ED;
        padding: 20px;
        font-size:14px;
        font-family:SFProText-Semibold,SFProText;
        font-weight:600;
        color:#3D444F;
      }
      .appdesc {
        border-bottom: 1px solid #E4E7ED;
        padding: 0 0 15px 0;
        .desc-title {
          float: left;
          width: 160px;
          padding: 24px 0 0 20px;
          font-size: 14px;
          font-family: SFProText-Regular,SFProText;
          font-weight: 400;
          color: #3D444F;
        }
        .desc-text {
          padding: 20px 20px 20px 0;
          font-size: 14px;
          font-family: PingFangSC-Regular,PingFang SC;
          font-weight: 400;
          color: #3D444F;
        }
      }
    }
    .reademe {
      margin-top:20px;
      padding-left: 20px;
      .name {
        padding: 20px 0 20px 0px;
      }
    }
    .desc {
      width:760px;
      height:87px;
      background:rgba(251,252,253,1);
      border-radius:2px;
      border:1px solid rgba(230,233,239,1);
      .desc-title {
        margin: 10px 0 0 20px;
        width: 700px;
        height: 14px;
        line-height: 14px;
        font-size: 12px;
        color: #9BA3AF;
      }
      .desc-text {
        margin: 5px 0 0 20px;
        width: 720px;
        height: 48px;
        font-size: 14px;
        color: #3D444F;
        word-break: break-all;
        overflow: hidden;
      }
    }
    .app {
      overflow: hidden;
      padding-bottom: 20px;
      width: 100%;
      .app-title {
        float: left;
        width: 160px;
        padding: 20px 0 0 20px;
        font-size: 14px;
        font-family: SFProText-Regular,SFProText;
        font-weight: 400;
        color: #3D444F;
      }
      .app-box{
        float: right;
        width: calc(100% - 160px);
        .text-name {
          float: left;
          width: 50%;
          padding-top: 20px;
          font-size: 14px;
          font-family: PingFangSC-Medium,PingFang SC;
          font-weight: bold;
          color: #3D444F;
          .text-desc {
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            font-family: PingFangSC-Regular,PingFang SC;
            font-weight: 400;
            color:#595F69;
            .str{
              &::after{
                content: '、';
              }
              &:last-child::after{
                content: '';
              }
            }
          }
        }
      }
    }
    .title1 {
      margin: 30px 0 0 63px;
      height: 48px;
      line-height: 48px;
      font-size: 32px;
      font-weight:500;
      color:#3D444F;
    }
    .title1-desc {
      height: 48px;
      margin: 5px 0 0 63px;
      font-size: 14px;
      font-weight: 400;
      color: #3D444F;
    }
    .title2-desc {
      height: 44px;
      line-height: 44px;
      width: 660px;
      margin: 5px 0 0 60px;
      background:rgba(251,252,253,1);
      border:1px solid rgba(230,233,239,1);
      .title2-text {
        margin: 10px 0 0 20px;
        height: 24px;
        line-height: 24px;
        color:rgba(61,68,79,1);
        font-family: Consolas;
        font-size: 14px;
      }
    }
  }
  .dao-dialog-container {
    .dao-name::before {
      content: '* ';
      color: red;
    }
  }
  .lay-right {
    float: left;
    width: 280px;
    min-height: 760px;
    overflow: hidden;
    margin-left: 20px;
    // 跟随左边高度
    padding-bottom:9999px;
    margin-bottom:-9999px;
    .no-version {
      height: 524px;
      .center {
        padding-top: 250px;
        text-align: center;
        .no {
          font-size: 16px;
          font-family: PingFangSC-Regular,PingFang SC;
          font-weight: 400;
          color: #9BA3AF;
        }
        .add {
          padding: 5px;
          font-size: 14px;
          font-family: PingFangSC-Regular,PingFang SC;
          font-weight: 400;
          color: #217EF2;
          cursor: pointer;
        }
      }
    }
    .right-type {
      margin: 30px 0 0 20px;
      height: 14px;
      line-height: 14px;
      font-family: PingFangSC-Medium,PingFang SC;
      font-size: 14px;
      font-weight: 500;
      color:#3D444F;
    }
    .right-select {
      height: 32px;
      width: 240px;
      margin: 10px 0 0 20px;
    }
    .right-name {
      height: 14px;
      line-height: 14px;
      margin: 20px 0 0 20px;
      font-family: PingFangSC-Medium,PingFang SC;
      font-size: 14px;
      font-weight: 500;
      color:#3D444F;
    }
    .right-desc {
      height: 14px;
      line-height: 14px;
      margin: 10px 0 0 20px;
      font-family: PingFangSC-Regular,PingFang SC;
      font-size: 14px;
      font-weight: 400;
      color: #595F69;
    }
    .right-link {
      width: 200px;
      height: 14px;
      line-height: 14px;
      margin: 10px 0 0 20px;
      font-family: SFProText-Regular,SFProText;
      color: #217EF2;
      font-weight: 400;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .content_box {
    min-height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .project {
    .select {
      width: 120px;
      height: 32px;
    }
    .input  {
      float: right;
    }
    .iconlay {
      float: right;
    }
    .icon-size {
      width: 32px;
      height: 32px;
    }
    .selectStatus {
      padding: 15px 0 0 10px;
      .number {
        font-size: 14px;
        font-family: PingFangSC-Regular,PingFang SC;
        font-weight: 400;
        color: #3D444F;
      }
      .status {
        margin-left:10px
      }
    }
  }
  .pic {
    width: 60px;
    height: 60px;
  }
  .success {
    color: #22c36a;
  }
  .error {
    color: #f1483f;
  }
  .warning {
    color: rgb(190, 163, 10);
  }
  .footer {
    height: 40px;
    border-right: 1px solid #E4E7ED;
    border-left: 1px solid #E4E7ED;
    border-bottom: 1px solid #E4E7ED;
    background: #fff;
    .page {
      float: left;
      height: 14px;
      line-height: 14px;
      padding: 12px 0 0 10px;
      font-size: 14px;
      font-family: PingFangSC-Regular,PingFang SC;
      font-weight: 400;
      color: #9BA3AF;
    }
  }
}
