#alarm-detail {
  .desc-input {
    width: calc(80% + 15px);
  }
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .atomSelector {
    width: 40%;
    margin-right: 15px;
  }
  .btn-group {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: flex-start;
  }
  .card {
    flex: 0 0 calc(50% - 30px);
    margin: 20px 20px 0 20px;
    &:nth-child(2n) {
      margin-left: 0;
    }
    &:nth-child(3) {
      margin-bottom: 20px;
    }
    &:nth-child(4) {
      margin-bottom: 20px;
    }
  }
  .operation-btn {
    float: right;
  }
  .card-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .row {
    display: flex;
    justify-content: center;
    margin: 20px;
    label,
    .content {
    }
    label {
      //display: block;
      width: 30%;
    }
    .content {
      width: 70%;
    }
    .multi-content {
      display: flex;
    }
  }
}
