.page-pod {
  .row {
    & + .row {
      margin-top: 10px;
    }
  }

  .empty-state-message {
    max-width: 600px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 40px auto 60px;
    color: #9ba3af;
    text-align: center;

    h2 {
      font-size: 22px;
      font-weight: 400;
      line-height: 1.4;
    }
  }

  .hint-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #595f69;
    line-height: 20px;

    .icon {
      margin-right: 5px;
    }
  }

  .container-detail {
    color: #3d444f;

    label {
      font-weight: 600;
    }
  }
}
