.aside {
  position: fixed;
  z-index: 1986;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.28);

  .close {
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
    filter: alpha(opacity=20);
    opacity: 0.2;
    font-family: Arial, sans-serif;
  }

  .close:focus,
  .close:hover {
    filter: alpha(opacity=50);
    opacity: 0.5;
  }

  .modal-card {
    margin: 0 20px;
    overflow: auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow: hidden;
    width: 450px;
    max-width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    max-height: 100%;
    border-radius: 0;
    background: #fff;
  }

  .modal-card-head,
  .modal-card-foot {
    align-items: center;
    background-color: $white;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    position: relative;
    padding: 16px;
  }

  .modal-card-head {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  }

  .modal-card-foot {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    justify-content: flex-end;

    .button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .modal-card-title {
    color: 600;
    flex-grow: 1;
    flex-shrink: 0;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
  }

  .modal-card-body {
    background-color: $white;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
  }

  .modal {
    align-items: center;
    display: none;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 1986;
    // Modifiers
    &.is-active {
      display: flex;
    }

    transition: all 0.3s ease;
  }

  .modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(31, 33, 38, 0.2);
    transition: opacity 0.3s ease;
  }

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-card,
  .modal-leave-active .modal-card {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  &.aside-right {
    .modal-card {
      left: auto;
      right: 0;
    }
  }
}
