#monitor {
  .empty-message {
    margin: 20px;
    padding: 40px;
    font-size: 16px;
    color: #9ba3af;
    text-align: center;
  }

  .monitor-frame {
    width: 100%;
    height: calc(100vh - 151px);
  }
  .form-panel {
    padding: 20px 0 0 15px;
    background-color: white;
    margin-bottom: 15px;
  }
  .timeRangePanel {
    display: flex;
    justify-content: flex-end;
  }
  .timeRangeIcon {
    font-size: 15px;
    margin-right: 10px;
    color: #606266;
  }
}
