#monitor-report-table {
  margin-bottom: 20px;
  .table-title {
    font-size: 15px;
    color: #303133;
  }
  .note-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #909399;
  }
}
