.color-normal {
  color: $blue;
}

.color-running {
  color: #22c36a;
}

.color-creating {
  color: #00bcd4;
}

.color-failed {
  color: #f1483f;
}

.color-create_failed {
  color: #f1483f;
}

.color-updating {
  color: #4cffcf;
}
