@import '~daoColor';

$nav-height: 40px;

// Animation
$transition-speed: 0.3s;

// Font Colors
$font-light: $grey-dark;
$font: $black-light;
$font-dark: $black-dark;
$font-darker: $black-darker;

// Override
$primary: $blue;
$info: #00c0ef;
$danger: $red;
$warning: $yellow;
$success: $green;
