@import '~@/view/components/daox/wizard/wizard/wizard.scss';

.deploy-app {
  .header-title {
    position: fixed;
    top: $nav-height;
    left: 0;
    display: flex;
    align-items: center;
    height: 40px;
    z-index: 11;
    margin-left: 30px;
    font-size: 16px;

    .go-back {
      color: #000000;
    }

    .service-name {
      vertical-align: middle;
      position: relative;
      padding-left: 15px;
      border-left: 1px solid #ccd1d9;
      margin-left: 15px;
    }
  }

  .wizard-nav-pills {
    position: fixed;
    top: $nav-height;
    left: 0;
    z-index: 10;
    list-style: none;
  }

  a.step-tab {
    cursor: default !important;
  }
}
